<a href="https://colab.research.google.com/github/grbarbosa3/Machine_learning/blob/master/Multiple_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression

In [19]:
df = pd.read_csv('http://dl.dropboxusercontent.com/s/gc1rm540g4i670n/precificacao_housing_plus.csv?dl=1')

print('Tamanho de df: {}\n'.format(df.shape))
df.drop('Id', axis=1, inplace=True)
df.head()

Tamanho de df: (1460, 35)

   MSSubClass  LotArea  OverallQual  ...  MoSold  YrSold  SalePrice
0          60     8450            7  ...       2    2008     208500
1          20     9600            6  ...       5    2007     181500
2          60    11250            7  ...       9    2008     223500
3          70     9550            7  ...       2    2006     140000
4          60    14260            8  ...      12    2008     250000

[5 rows x 34 columns]

In [20]:
# Hiperparametros

model = LinearRegression()

# Separar os dados entre feature matrix e target vector - Ateçao com 1-feature ( reshape)

X = df.drop('SalePrice', axis=1)
y = df['SalePrice']

# Dividir entre train e test

X_train, X_test, y_train, y_test = train_test_split(X, y)

# Fit do modelo

model.fit(X_train, y_train)

# Fazer as previsoes em cima do modelo

y_pred = model.predict(X_test)

In [21]:
print(df.shape)
print(X.shape)
print(y.shape)

(1460, 34)
(1460, 33)
(1460,)

Na Regressão Simples tinhamos apenas um coeficiente e um intercept, agora temos um coeficiente para cada variavel. Para obtermos o **coeficiente de regressão** e o **intercept**, podemos acesssar os atributos do modelo diretamente da variavel 'ml_model'

In [22]:
# Imprimir os coeficientes e intercept

print("Coeficiente: \t", model.coef_)
print("Intercept:\t", model.intercept_)

Coeficiente: 	 [-1.94098024e+02  4.19130586e-01  1.84999720e+04  3.81373570e+03
  3.67013751e+02  9.93583474e+01  8.66126680e+00 -4.79482706e+00
 -4.65734519e-01  3.40070523e+00  1.97369153e+01  2.13597855e+01
  3.96020706e+00  4.50569080e+01  1.17591990e+04  4.99758728e+03
  3.00313927e+03 -4.62097498e+03 -1.11261956e+04 -1.15970851e+04
  2.79247740e+03  2.16695952e+03  1.34591383e+04 -1.32763032e+01
  2.35129423e+01  7.89790644e+00  5.11111800e+00  4.32532569e+01
  5.58921015e+01 -7.24241350e+01 -6.57840172e-01  2.49527899e+02
 -6.21132931e+02]
Intercept:	 268884.34509760095

Vamos testar o desempenho do modelo em cima do nosso conjunto de testes. Para isso, vamos colocar a variável 'X_test' como argumento do 'ml_model.predict()', salvar as previsões e verificar o desempenho em cima das métricas já apresentadas.

In [24]:
# Previsões em cima do dataset de teste
y_pred = model.predict(X_test)

# verificar o desempenho
print('R2_score:\t',r2_score(y_test, y_pred))
print('MAE:\t',mean_absolute_error(y_test, y_pred))
print('MSE:\t',mean_squared_error(y_test, y_pred))

R2_score:	 0.7774083321921141
MAE:	 22205.426874494944
MSE:	 1357127311.9753673

In [ ]:
{}