<a href="https://colab.research.google.com/github/grbarbosa3/Machine_learning/blob/master/Training_and_test_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv("http://dl.dropboxusercontent.com/s/gc1rm540g4i670n/precificacao_housing_plus.csv?dl=0")
df.head()

   Id  MSSubClass  LotArea  OverallQual  ...  MiscVal  MoSold  YrSold  SalePrice
0   1          60     8450            7  ...        0       2    2008     208500
1   2          20     9600            6  ...        0       5    2007     181500
2   3          60    11250            7  ...        0       9    2008     223500
3   4          70     9550            7  ...        0       2    2006     140000
4   5          60    14260            8  ...        0      12    2008     250000

[5 rows x 35 columns]

In [2]:
df.shape

(1460, 35)

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
X = df.drop('SalePrice', axis=1)
y = df['SalePrice']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [6]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1168, 34)
(292, 34)
(1168,)
(292,)

In [7]:
model.fit(X_train, y_train)

NameError: ignored